<!-- <form [formGroup]="form" (submit)="submit()">
  <h1 class="h3 mb-3 fw-normal">Please register</h1>

  <input formControlName="username" class="form-control" placeholder="UserName" required>

  <input formControlName="email" type="email" class="form-control" placeholder="Email" required>

  <input formControlName="password" type="password" class="form-control" placeholder="Password" required>

  <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
</form> -->

<!-- <main class="form-signin w-100 m-auto">
  <form [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  </form>
</main> -->
<div class="login">
  <div class="form">
    <form class="login-form" [formGroup]="form" (submit)="submit()">
      <span class="material-icons">lock</span>
      <input
        formControlName="username"
        class="form-control"
        placeholder="UserName"
        required
      />
      <input
        formControlName="email"
        type="email"
        class="form-control"
        placeholder="Email"
        required
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        required
      />
      <input
        formControlName="password"
        type="password"
        class="form-control"
        placeholder="Password"
        required
      />
      <button type="submit">Register</button>
    </form>
  </div>
</div>
